.server {
    padding: 15px;
    max-width: 90vw;

    .popup {
        text-align: left;

        h1 {
            color: #000066;
            font-size: 18px;
            line-height: 14px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    &.fmap {
        .dark {
            background-color: lightgray;
        }
        .light {
            background-color: white;
        }
        .fmap-buttons {
            width: 100%;
            margin: 4px 0;
            button {
                text-align: center;
                background-color: #6487db;
                border: 2px solid #0066cc;
                margin: 5px;
                width: 124px;
                padding: 6px;
                font-weight: bold;
                color: white;
                &:hover {
                    background-color: #990033;
                    color: yellow;
                }
            }
        }
        .submit-buttons {
            button {
                padding: 6px;
                margin: 5px 5px 0 5px;
            }
        }

        .model-selection {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            padding: 10px;
        }

        .inline-table {
            margin: 0;
            border: none;
            padding: 0;
            td {
                padding: 0 5px 0 0;
            }
        }

        .inline-radio {
            margin-right: 12px;
        }

        .input-subsection {
            margin-bottom: 8px;
        }

        .table-form {
            border: 1px solid #6487db;
            width: 90%;
            .subtext {
                color: gray;
            }
            .centered {
                text-align: center;
            }
            .table-section-header {
                padding: 6px;
                background-color: #6487db;
                color: white;
                font-weight: bold;
            }
            .table-section {
                padding: 4px 8px;
                .input-type-choices {
                    display: inline-block;
                    button {
                        padding: 5px;
                        background-color: white;
                        border: 2px solid dimgray;
                        color: black;
                        &.selected {
                            background-color: gray;
                        }
                    }
                }
                .sub-title {
                    color: #0066cc;
                }

                .model-selection {
                    display: inline-block;
                    margin: 0 0 0 10px;
                    padding: 0;
                }

                .user-input-section {
                    margin-top: 4px;

                    .amino-sequence-label {
                        font-weight: normal;
                    }
                }
            }
        }

        .text-input {
            width: 100%;
            min-height: 100px;
        }

        .submit-again {
            cursor: pointer;
            color: #337ab7;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
