.verification {
    table {
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 85%;
        vertical-align: top;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: grey;
        width: 100%;
        td {
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            padding: 5px;
        }
        tr {
            padding-bottom: 2px;
        }
        th {
            border-bottom: 2px solid #ddd;
            border-right: 1px solid #ddd;
            padding: 5px;
            font-size: 1.1em;
            color: #159;
            background: #eef3f5;
            text-align: center;
        }
    }

    caption {
        font-size: 13px;
    }
}
