.header {
    .header-img {
        max-width: 675px;
        width: 100%;
    }
    .navbar {
        width: 100%;
        background-color: #6487db;
        padding-left: 20px;
        margin: 0;
        min-height: 0;
        border-radius: 0;

        .navbar-item {
            color: white;
            min-width: 30px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 12px;
            padding-right: 12px;
            display: inline-block;
            height: 100%;
            a {
                color: white;
                text-decoration: none;
            }

            &:hover {
                background-color: #990033;
                a {
                    color: yellow;
                }
            }
        }

        .selected-item {
            color: yellow;
            background-color: #990033;
            min-width: 30px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 12px;
            padding-right: 12px;
            display: inline-block;
            height: 100%;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}
