.protein-complex {
    padding: 15px;
    width: 100%;

    .hidden {
        display: none;
    }

    .page-header {
        padding: 0px;
        color: #0066cc;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: 3px solid #0066cc;
    }

    h2 {
        // similar style to th
        font-size: 11px;
        color: #159;
        border-bottom: 3px solid lightgray;
        padding: 5px;
        font-family: Verdana-Bold;
        word-break: break-all;
    }

    .protein-info {
        width: 100%;
    }

    .link {
        color: #0066cc;
        cursor: pointer;
        &:hover {
            color: #23527c;
            text-decoration: underline;
        }

        &.expand-link {
            font-weight: normal;
            font-style: italic;
        }
    }

    .pdb-container {
        padding-bottom: 10px;
        text-align: center;
        width: 400px;
        float: right;

        .jmol-viewer {
            padding-top: 10px;
        }
    }

    .go-back {
        width: 100%;
        text-align: center;

        span {
            color: #0066cc;
            cursor: pointer;
            &:hover {
                color: #23527c;
                text-decoration: underline;
            }
        }
    }

    .info-table {
        width: 55%;
        display: inline-block;

        &.full {
            width: 100%;
        }

        @media print {
            width: 47%;
        }

        table {
            display: table;
            border-collapse: separate;
            font-size: 12px;
            width: 100%;
            max-width: 100% !important;

            margin-top: 20px;
            margin-bottom: 20px;
            vertical-align: top;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;

            tbody {
                max-width: 100% !important;
                display: table-row-group;
                vertical-align: middle;

                tr {
                    max-width: 100% !important;
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                    border: 1px solid #ddd;
                    max-width: 50%;

                    &.dark {
                        background-color: #eef3f5;
                    }

                    th {
                        font-size: 11px;
                        color: #159;
                        text-align: center;
                        border-right: 1px solid #ddd;
                        border-bottom: 3px solid lightgray;
                        padding: 5px;
                        font-family: Verdana-Bold;
                        word-break: break-all;
                    }

                    td {
                        font-size: 11px;
                        display: table-cell;
                        border-right: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                        padding: 5px;

                        &.right {
                            text-align: right;
                            word-break: break-word;
                            min-width: 100px;
                        }

                        &.left {
                            // cells with content may have long complexes with : in between
                            // each pdb code. "word-break: break-all" will allow this to be
                            // on many lines.
                            //word-break: break-all;
                            //TODO: re-enable this if certain boxes prove to be a problem
                            text-align: left;
                            min-width: 395px;
                        }

                        &.bold {
                            color: #159;
                            font-family: Verdana-Bold;
                        }

                        p.link {
                            margin: 0 0 2px 0;
                            padding: 0;
                        }

                        .spaced {
                            margin-bottom: 3px;
                        }

                        .domain {
                            margin: 5px 0;
                            padding: 0;
                            text-indent: 15px;
                        }
                    }
                }
            }
        }
    }
}

.info-loading {
    width: 100%;
    height: 100%;
    .loading-image {
        margin-top: 5%;
        margin-left: 35%;
        width: 20%;
    }
}
