.list {
    .hidden {
        display: none;
    }

    .search-section {
        max-width: 20em;
        width: 100%;
        margin-bottom: 0.5em;
        margin-left: 1em;
        float: right;
    }

    .list-data {
        padding: 0;
        .list-link {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;

            .ordering {
                padding-right: 25px;
            }
        }

        .numbered-list-item {
            margin-left: 25px;
            padding-left: 25px;
        }
    }

    .expand-item {
        padding-left: 0.4em;
        padding-right: 0.4em;
        padding-bottom: 0.1em;
        cursor: pointer;
        border-radius: 0.9em;
        background-color: #e6e6e6;
        font-size: 0.8em;
        font-weight: normal;
        font-style: italic;
        border: 1px solid;

        &:hover {
            background-color: #cccccc;
        }
    }

    .expand {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 45%;
        color: #337ab7;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
            text-decoration-color: #337ab7;
        }
    }

    .info-loading {
        width: 100%;
        .loading-image {
            margin-left: 45%;
            margin-bottom: 2em;
            width: 10%;
        }
    }
}
