.tmnet {
    padding: 12px;

    .tmnet-description {
        margin-bottom: 20px;
    }

    .selected-proteins {
        margin-bottom: 12px;
        width: fit-content;
        max-width: 90%;
        min-height: 50px;
        padding: 8px;
        background-color: #eef3f5;
    }

    .section-header {
        color: #009900;
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 22px;
    }

    .list-section {
        margin-top: 20px;

        .list-header {
            color: #009900;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 6px;
        }
    }

    .nav-links {
        font-size: 13px;
        line-height: 1.7em;
    }

    .tmnet-search {
        .search-section {
            max-width: 32em;
            width: 100%;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }

    .submitted {
        .graph-container {
            min-height: 300px;
            max-height: 550px;
            height: 38vw;
            min-width: 300px;
            width: 90%;
            margin: 10px 0 75px 0;
        }

        .direct-interactions {
            width: 75%;
        }

        .indirect-interactions {
            width: 90%;
        }
    }

    .info-table-container {
        margin-left: 14px;
        margin-top: 10px;
        width: 70%;
        display: inline-block;

        &.full {
            width: 100%;
        }

        table {
            display: table;
            border-collapse: separate;
            font-size: 12px;
            width: 100%;
            max-width: 100% !important;

            margin-top: 10px;
            margin-bottom: 20px;
            vertical-align: top;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;

            tbody {
                max-width: 100% !important;
                display: table-row-group;
                vertical-align: middle;

                tr {
                    max-width: 100% !important;
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                    border: 1px solid #ddd;
                    max-width: 50%;

                    &.dark {
                        background-color: #eef3f5;
                    }

                    th {
                        font-size: 11px;
                        color: #159;
                        text-align: center;
                        border-right: 1px solid #ddd;
                        border-bottom: 3px solid lightgray;
                        padding: 5px;
                        font-family: Verdana-Bold;
                        word-break: break-all;
                    }

                    td {
                        font-size: 11px;
                        display: table-cell;
                        border-right: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                        padding: 5px;

                        &.right {
                            text-align: right;
                            word-break: break-word;
                            min-width: 300px;
                        }

                        &.left {
                            text-align: left;
                            word-break: break-word;
                            min-width: 300px;
                        }

                        &.bold {
                            color: #159;
                            font-family: Verdana-Bold;
                        }

                        p.link {
                            margin: 0 0 2px 0;
                            padding: 0;
                        }

                        .spaced {
                            margin-bottom: 3px;
                        }

                        .domain {
                            margin: 5px 0;
                            padding: 0;
                            text-indent: 15px;
                        }

                        ol {
                            padding-left: 1.3em;
                        }
                    }
                }
            }
        }
    }
}
