.info-table {
    width: 100%;
    display: inline-block;

    &.full {
        width: 100%;
    }

    table {
        display: table;
        border-collapse: separate;
        font-size: 12px;
        width: 100%;
        max-width: 100% !important;
        vertical-align: top;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;

        tbody {
            max-width: 100% !important;
            display: table-row-group;
            vertical-align: middle;

            tr {
                max-width: 100% !important;
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                border: 1px solid #ddd;
                max-width: 50%;

                th {
                    font-size: 11px;
                    color: #159;
                    text-align: center;
                    border-right: 1px solid #ddd;
                    border-bottom: 3px solid lightgray;
                    padding: 5px;
                    font-family: Verdana-Bold;
                    word-break: break-all;

                    &.asc {
                        background: linear-gradient(to top, #eef3f5 77%, #9fbbc6);
                    }
                    &.desc {
                        background: linear-gradient(to bottom, #eef3f5 77%, #9fbbc6);
                        bottom: 3px;
                    }

                    &.sortable {
                        cursor: pointer;
                        &:hover {
                            background-color: #cfdde3;
                            text-decoration: underline;
                            text-decoration-color: #0066cc;
                            &.asc {
                                background: linear-gradient(to top, #cfdde3 77%, #8fb0bd);
                            }

                            &.desc {
                                background: linear-gradient(to bottom, #cfdde3 77%, #8fb0bd);
                            }
                        }
                    }
                }

                &.dark {
                    background-color: #eef3f5;
                }

                td {
                    font-size: 11px;
                    display: table-cell;
                    border-right: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    padding: 5px;

                    &.right {
                        text-align: right;
                        word-break: break-word;
                        min-width: 300px;
                    }

                    &.left {
                        text-align: left;
                        word-break: break-word;
                        min-width: 300px;
                    }

                    &.bold {
                        color: #159;
                        font-family: Verdana-Bold;
                    }

                    p.link {
                        margin: 0 0 2px 0;
                        padding: 0;
                    }

                    .spaced {
                        margin-bottom: 3px;
                    }

                    .domain {
                        margin: 5px 0;
                        padding: 0;
                        text-indent: 15px;
                    }

                    ol {
                        padding-left: 1.3em;
                    }
                }
            }
        }
    }
}
