.methods-definition {
    line-height: 1.7em;

    .formula-div {
        padding-top: 10px;
        padding-bottom: 15px;
        .formula {
            height: 30px;
        }
    }

    .method1-div {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        .method1 {
            width: 330px;
        }
    }

    .method3-div {
        padding-top: 10px;
        padding-bottom: 15px;
        .method3 {
            height: 60px;
        }
    }

    .indented {
        padding-left: 40px;
    }
}
