body,
html {
    margin: 0;
    padding: 0;
    line-height: 1.7em;

    @media print {
        a[href]:after {
            content: none !important;
        }
    }
}
html {
    body {
        * {
            @media print {
                overflow: visible;
            }
        }

        a {
            color: #0066cc;
        }
        // basic layout,
        // try not to add css here that is not layout related
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12.8px;
        min-width: 800px;
        .react-container {
            width: 100%;
            .app {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

                .centered {
                    text-align: center;
                }

                .link-text {
                    color: #337ab7;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .disabled-button {
                    cursor: not-allowed;
                }

                .less-padding {
                    padding: 0 0 0 20px;
                }

                .search-header {
                    position: absolute;
                    top: 5px;
                    right: 22px;
                    max-width: 520px;
                    width: 100%;
                    z-index: 50;
                    text-align: right;
                }
                .search-membranome {
                    max-width: 520px;
                    width: 100%;
                    margin-right: 0;
                    margin-left: auto;
                    .search-input {
                        width: 68%;
                        float: left;
                        display: inline-block;
                    }
                    .search-options {
                        text-align: left;
                        display: inline-block;
                        float: right;
                        margin: 0;
                        font-weight: bold;

                        select {
                            padding: 0;
                            margin: 0 0 0 4px;
                        }
                    }
                }

                .header-links {
                    padding-bottom: 10px;
                    a {
                        font-size: 10px;
                    }
                }
                .header {
                    min-height: 100px;
                    width: 100%;
                }
                .flex-container {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    flex-grow: 4;
                    background-color: #f1f1f1;
                    .sidebar {
                        height: 100%;
                        width: 175px;
                        flex-grow: 0;
                        flex-shrink: 0;
                    }
                    .main-content {
                        flex-grow: 4;
                        min-height: 450px;
                        min-width: 500px;
                        background-color: white;
                        border-left: 1px solid grey;
                        border-right: 1px solid grey;
                    }
                    .sidebar-right {
                        height: 100%;
                        width: 125px;
                        @media print {
                            display: none;
                            margin: 0;
                            padding: 0;
                            border: 0;
                        }
                    }
                }
                .footer-box {
                    align-self: flex-end;
                    width: 100%;
                    min-height: 110px;
                }
            }
        }
    }
}

@font-face {
    font-family: "Arial";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/arial.ttf");
}
@font-face {
    font-family: "Comic Sans";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/comic.ttf");
}
@font-face {
    font-family: "Courier New";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/cour.ttf");
}
@font-face {
    font-family: "Georgia";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/georgia.ttf");
}
@font-face {
    font-family: "Impact";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/impact.ttf");
}
@font-face {
    font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/tahoma.ttf");
}
@font-face {
    font-family: "Times New Roman";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/times.ttf");
}
@font-face {
    font-family: "Trebuchet";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/trebuc.ttf");
}
@font-face {
    font-family: "Verdana";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/verdana.ttf");
}
@font-face {
    font-family: "Verdana-Bold";
    font-weight: bold;
    font-style: normal;
    src: url("fonts/verdanab.ttf");
}
