.methods-verification {
    .accuracy_color_img img {
        max-height: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .reg-img {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
    }
    .mv7 img {
        max-width: 80%;
    }
}
