.glmol {
    table {
        margin: 30px auto;
    }
    td {
        text-align: center;
    }

    .molheader {
        text-align: center;
    }

    #glmol {
        width: 600px;
        height: 500px;
        margin: 0 auto;
        background-color: lightgray;
    }

    .molfooter {
        width: 600px;
        background-color: #f0f5f6;
        border: solid 1px #e1e1e1;
        margin-bottom: 10px;
        color: #115fa3;
        margin: 0 auto;
    }

    #model_number {
        font-family: monospace;
    }

    #sequence_1,
    #sequence_2 {
        text-align: center;
        letter-spacing: 4px;
        font-family: monospace;
    }

    .glmol-tr {
        border: 1px solid #e1e1e1;
        height: 30px;
        margin: 0px;
        padding: 0px;
        padding-left: 10px;

        &:hover {
            cursor: pointer;
            background-color: #e1e1e1;
        }

        &.selected {
            background-color: #e1e1e1;
        }

        td {
            padding-left: 10px;
            vertical-align: center;
            line-height: 30px;
        }
    }

    .remarks-table {
        width: 60%;
        border-collapse: collapse;
        border: 1px solid #e1e1e1;
        thead {
            border-bottom: 3px solid #a3a3a3;
            tr {
                background-color: #f0f5f6;
                color: #115fa3;
                text-align: left;
                height: 30px;
                margin: 0px;
                padding: 0px;
                td {
                    margin: 0px;
                    padding: 0px;
                    padding-left: 10px;
                }
            }
        }
    }

    #view-controller {
        padding: 5px;
        padding-left: 10px;
        width: 100%;
        text-align: center;
    }
}
