.classification {
    padding: 15px;

    .info-loading {
        width: 100%;
        .loading-image {
            margin-left: 45%;
            width: 10%;
        }
    }

    .list-section {
        margin-top: 20px;

        .list-header {
            color: #009900;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 6px;
        }
    }

    .table-section {
        margin-top: 30px;
    }
}
