.sidebar {
    text-align: center;
    font-size: 14px;

    @media print {
        display: none;
        padding: 0;
        margin: 0;
        border: 0;
    }

    .title {
        font-size: 13px;
        margin-top: 20px;
        color: #009900;
    }

    .sidebar-nav {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
        text-align: left;
        background-color: #ffffcc;

        &.minor {
            background-color: white;
        }
        .item {
            line-height: 1.7em;
        }
    }

    .info-loading {
        width: 100%;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
        background-color: white;
        .loading-image {
            width: 5em;
            margin-left: 0;
            margin-top: 0;
        }
    }

    .server-img {
        padding-top: 20px;

        .img-style {
            width: 100px;
        }

        &:last-child {
            padding-bottom: 20px;
        }
    }
}
