.graph-component {
    width: 100%;
    height: 100%;
    .graph-target {
        width: 100%;
        height: 100%;
        border: 2px solid #ddd;
        border-radius: 8px;
        background-color: #eef3f5;
    }
    .graph-title {
        text-align: center;
    }
}
