.pathway {
    padding: 15px;
    width: 100%;

    .page-header {
        padding: 0px;
        color: #0066cc;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: 3px solid #0066cc;
    }

    h2 {
        // similar style to th
        font-size: 11px;
        color: #159;
        border-bottom: 3px solid lightgray;
        padding: 5px;
        font-family: Verdana-Bold;
        word-break: break-all;
    }

    .info-table {
        width: 55%;
        font-size: 11px;

        &.full {
            width: 100%;
            font-size: 12px;
        }

        @media print {
            width: 47%;
        }

        table {
            display: table;
            border-collapse: separate;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            vertical-align: top;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;

            tbody {
                display: table-row-group;
                vertical-align: middle;
                tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                    border: 1px solid #ddd;
                    max-width: 50%;
                    th {
                        color: #159;
                        text-align: center;
                        border-right: 1px solid #ddd;
                        border-bottom: 3px solid lightgray;
                        padding: 5px;
                        font-family: Verdana-Bold;
                    }
                    &.dark {
                        background-color: #eef3f5;
                    }
                    td {
                        display: table-cell;
                        border-right: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                        padding: 5px;

                        &.right {
                            text-align: right;
                        }
                        &.left {
                            text-align: left;
                            word-break: break-word;
                        }

                        .highlight-yellow {
                            background-color: yellow;
                        }

                        .highlight-green {
                            background-color: lime;
                        }

                        .spaced {
                            margin-bottom: 3px;
                        }
                    }
                }
            }
        }
    }
}
