.server {
    padding: 15px;
    max-width: 90vw;

    .hidden {
        display: none;
    }

    .submitted-text {
        width: 100%;
        text-align: center;

        .submit-again {
            cursor: pointer;
            color: #337ab7;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .server-header {
        padding: 0px;
        color: #0066cc;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: 3px solid #0066cc;
    }

    .use-old-server {
        padding-bottom: 20px;
        font-size: 1.1em;
    }

    .expand-link {
        color: #337ab7;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .server-footer {
        margin-top: 20px;
    }

    .error-msg {
        line-height: 2em;
        color: red;
    }

    &.tmmatch {
        .dark {
            background-color: #eef3f5;
        }
        .light {
            background-color: white;
        }
        .text-input {
            width: 80%;
            max-width: 100%;
            min-height: 150px;
        }
        .table-form {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            max-width: 900px;
            border: 1px solid #ddd;
            .table-header {
                max-width: 100%;
                padding: 10px;
                width: 100%;
                text-align: center;
                font-weight: bold;
                font-size: 15px;
                line-height: 1.6em;
                color: #159;
                border-bottom: 3px solid #999;
                background-color: #eef3f5;
            }

            .file {
                padding: 10px;
                text-align: center;
                border: 1px solid #ddd;
                font-size: 12px;

                .file-upload {
                    display: inline;
                }
            }

            .instructions {
                padding: 10px;
                text-align: center;
                border: 1px solid #ddd;
                font-size: 12px;

                .email-input-div {
                    width: 100%;
                    text-align: center;
                    padding-bottom: 5px;
                    padding-left: 50%;
                    margin-left: -10em;
                    .email-input {
                        width: 20em;
                    }
                }

                .helper {
                    width: 100%;
                    text-align: center;
                    padding-bottom: 5px;
                }

                .filename-helper {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 0px;
                }

                .submit-button {
                    cursor: pointer;
                }
            }
        }
    }
}
.info-loading {
    width: 100%;
    height: 100%;
    .loading-image {
        margin-top: 5%;
        margin-left: 35%;
        width: 20%;
    }
}
