.protein-list {
    .hidden {
        display: none;
    }

    .expand {
        margin-left: 45%;
        margin-bottom: 2em;
        color: #337ab7;
        cursor: pointer;
        font-size: 15px;

        &:hover {
            text-decoration: underline;
            text-decoration-color: #337ab7;
        }
    }

    .protein-section {
        width: 100%;
        margin-bottom: 1.5em;
        overflow: hidden;
        width: 100%;

        .pdb-image {
            width: 10em;
            float: left;
            margin-right: 2em;
            margin-bottom: 2em;
        }

        .protein-text {
            .pdbids {
                .pdb-link {
                    color: #337ab7;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        color: #23527c;
                        text-decoration: underline;
                    }
                }
            }

            .species-header {
                color: green;
            }
        }
    }

    .info-loading {
        width: 100%;
        .loading-image {
            margin-left: 45%;
            width: 10%;
        }
    }
}
