.about {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    min-width: 250px;
    .go-to-top {
        position: absolute;
        right: 20px;
    }

    .nav-panel {
        z-index: 100;
        width: 30%;
        min-width: 150px;
        min-height: 50px;
        background: #fff;
        border: 3px solid #990033;
        float: right;
        margin-left: 15px;
        margin-bottom: 15px;

        hr {
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            width: 95%;
            border: 0.5px solid grey;
        }
        a {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 1px;
            padding-bottom: 1px;
            font-size: 1em;
            display: block;
            &:hover {
                background-color: #c9d6e6;
                text-decoration: none;
            }
        }
    }
}
