.protein {
    padding: 15px;
    width: 100%;

    .top-grid {
        display: flex;
        justify-content: space-between;
    }

    .hidden {
        display: none;
    }

    .page-header {
        padding: 0px;
        color: #0066cc;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: 3px solid #0066cc;
    }
    .protein-info {
        width: 100%;
    }

    .link {
        color: #0066cc;
        cursor: pointer;
        &:hover {
            color: #23527c;
            text-decoration: underline;
        }

        &.expand-link {
            font-weight: normal;
            font-style: italic;
        }
    }

    .random-protein {
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
        width: 400px;
        max-width: 100%;

        // matches Table .table-header-small
        .section-header {
            color: #009900;
            font-weight: bold;
            font-size: 13.5px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        img.small {
            width: 50%;
        }
    }

    .info-table {
        font-size: 11px;

        &.full {
            width: 100%;
            font-size: 12px;
        }

        @media print {
            width: 47%;
        }

        table {
            display: table;
            border-collapse: separate;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            vertical-align: top;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;

            tbody {
                display: table-row-group;
                vertical-align: middle;
                tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                    border: 1px solid #ddd;
                    max-width: 50%;
                    th {
                        color: #159;
                        text-align: center;
                        border-right: 1px solid #ddd;
                        border-bottom: 3px solid lightgray;
                        padding: 3px;
                        font-family: Verdana-Bold;
                    }
                    &.dark {
                        background-color: #eef3f5;
                    }
                    td {
                        display: table-cell;
                        border-right: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                        padding: 3px;

                        &.right {
                            text-align: right;
                            // all one line but take up min space
                            white-space: normal;
                            width: 0%;
                        }
                        &.left {
                            text-align: left;
                            word-break: break-word;
                        }

                        p.link {
                            margin: 0 0 2px 0;
                            padding: 0;
                        }

                        &.mono {
                            font-family: monospace;
                            font-size: 13px;
                        }

                        .red {
                            color: red;
                        }

                        .blue {
                            color: blue;
                        }

                        .highlight-yellow {
                            background-color: yellow;
                        }

                        .highlight-green {
                            background-color: lime;
                        }

                        .domain {
                            margin: 5px 0;
                            padding: 0;
                            text-indent: 15px;
                        }
                    }
                }
            }
        }
    }

    .go-back {
        width: 100%;
        text-align: center;
        margin-top: 10px;

        span {
            color: #0066cc;
            cursor: pointer;
            &:hover {
                color: #23527c;
                text-decoration: underline;
            }
        }
    }
}

.info-loading {
    width: 100%;
    height: 100%;
    .loading-image {
        margin-top: 5%;
        margin-left: 35%;
        width: 20%;
    }
}
