.download {
    small {
        display: none !important;
        opacity: 0 !important;
    }

    h2.title {
        margin-bottom: 20px !important;
    }
    .tab-header {
        margin-right: 20px;
        margin-left: 20px;
    }
    .info {
        margin: 25px 0 !important;
    }

    .tar-file {
        padding-left: 20px;
        padding-top: 20px;
        font-weight: bold;
    }

    .download-csv {
        padding-left: 20px;
        font-weight: bold;
        .csv-list {
            list-style-type: none;
            padding-left: 10px;
            margin: 0;
            column-count: 2;
        }
    }
}
