.analysis {
    .reg-img {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
    }
}
