.list-item {
    .list-item-link {
        border-bottom: 1px solid #c9d6e6;
        text-decoration: none;

        &:hover {
            color: #000;
            background: #c9d6e6;
        }
    }
    .expand-item {
        padding-left: 0.4em;
        padding-right: 0.4em;
        padding-bottom: 0.1em;
        cursor: pointer;
        border-radius: 0.9em;
        background-color: #e6e6e6;
        font-size: 0.8em;
        font-weight: normal;
        font-style: italic;
        border: 1px solid;

        &:hover {
            background-color: #cccccc;
        }
    }

    .small-loader {
        display: inline-block;
        height: 1em;
        overflow: hidden;
        width: 1.5em;
        position: relative;
        img {
            position: absolute;
            top: -1.1em;
            left: -2em;
            overflow: hidden;
            width: 5em;
        }
    }
}
