.topology-section {
    width: 100%;
    overflow: auto;
    margin-top: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
    background-color: #eef3f5;

    .topology-header {
        font-size: 12px;
        font-style: italic;
        color: green;
        margin-bottom: 1em;
    }

    table {
        margin: 0 auto;

        .topology-info {
            text-align: left;
            padding-left: 5px;

            &.out {
                color: #ff0000;
            }

            &.in {
                color: #0099ff;
            }
        }
    }
}
