//these css parameters were copied from OPM
.advanced-search {
	width: 100%;
	padding: 5px;

	.inputs-area {
		margin: 8px 8px 0 8px;
		padding: 10px;
		background-color: #eef3f5;
		border-radius: 6px;
	}
}