.green {
    color: green;
}
.italic {
    font-style: italic;
}
.cursor-hand {
    cursor: pointer;
}
a.external {
    background: url(/images/external.png) center right no-repeat;
    padding-right: 15px;
}

div.page-header {
    font-family: Verdana-Bold;
    color: #990033;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 3px solid #990033;
}

b {
    font-family: Verdana-Bold;
}
