.home {
    padding: 15px;

    i {
        color: green;
    }

    .random-protein {
        float: right;
        padding-bottom: 50px;
        padding-left: 25px;
        max-width: 250px;
        width: 90%;
        .img-style {
            width: 100%;
        }

        .protein-link {
            text-align: center;
        }
    }

    .home-text {
        p {
            text-indent: 15px;
            padding-bottom: 0px;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
}
